{% extends 'common/base.html' %}
{% load static %}

{% block title%}
Удаление студента
{% endblock %}

{% block body%}
<div class="container">
    <div class="bg-light p-5 rounded">
    <div class="container">
        <h1>Подтвердите удаление</h1>
            <p>Уверены что хотите удалить к чертям студента?</p>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button is-danger is-outlined">Подтвердить</button>
            </form>
    </div>
    </div>
</div>
{% endblock%}